<ngx-gustavguez-page-header text="Textarea"></ngx-gustavguez-page-header>

<section class="content">
	<div class="container-fluid">
		
		<div class="row">
			<div class="col-md-6 col-sm-6 col-12 p-3">
				<form [formGroup]="form" (submit)="onSubmit()">
					<ngx-gustavguez-textarea
						[form]="form"
						[label]="'Description:'"
						[placeholder]="'Enter description'"
						[controlName]="'description'"
						[controlId]="'description'"
						[requiredErrorText]="'This field is required.'"></ngx-gustavguez-textarea>	

					<ngx-gustavguez-submit
						[text]="'Send form'"></ngx-gustavguez-submit>
				</form>
			</div>

		</div>
	</div>
</section>