<!-- MAIN CONTAINER -->
<div ngxGustavguezMainContainer>

    <!-- NAV -->
    <ngx-gustavguez-nav 
        (onLogout)="onLogout()"
        [userIsLogged]="true"></ngx-gustavguez-nav>

    <!-- SIDEBAR MAIN -->
    <ngx-gustavguez-main-sidebar
        brandTitle="Gustavguez lib"
        brandImg="assets/logo.png"
        userAvatar="assets/avatar.png"
        userName="Gustavo Rodríguez"
        secondaryText="Empresa (empresa SA)"
		(onBrandLink)="onBrandLink()"
        [userIsLogged]="true"
        [menuItems]="menuItems">
    </ngx-gustavguez-main-sidebar>
    
	<!-- ROUTER -->
    <div class="content-wrapper">
	   <router-outlet></router-outlet>
	</div>
	
</div>