<ngx-gustavguez-page-header text="Button"></ngx-gustavguez-page-header>

<section class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 col-sm-6 col-12 text-center p-3">
				<ngx-gustavguez-button
					(onClick)="onClick()"
					[status]="'primary'"
					[text]="'Primary button'"></ngx-gustavguez-button>
			</div>
			<div class="col-md-6 col-sm-6 col-12 text-center p-3">
				<ngx-gustavguez-button
					(onClick)="onClick()"
					[status]="'primary'"
					[loading]="true"
					[text]="'Primary button'"></ngx-gustavguez-button>
			</div>

			<div class="col-md-6 col-sm-6 col-12 text-center p-3">
				<ngx-gustavguez-button
					(onClick)="onClick()"
					[status]="'secondary'"
					[text]="'Secondary button'"></ngx-gustavguez-button>
			</div>
			<div class="col-md-6 col-sm-6 col-12 text-center p-3">
				<ngx-gustavguez-button
					(onClick)="onClick()"
					[status]="'secondary'"
					[loading]="true"
					[text]="'Secondary button'"></ngx-gustavguez-button>
			</div>

			<div class="col-md-6 col-sm-6 col-12 text-center p-3">
				<ngx-gustavguez-button
					(onClick)="onClick()"
					[status]="'success'"
					[text]="'Success button'"></ngx-gustavguez-button>
			</div>
			<div class="col-md-6 col-sm-6 col-12 text-center p-3">
				<ngx-gustavguez-button
					(onClick)="onClick()"
					[status]="'success'"
					[loading]="true"
					[text]="'Success button'"></ngx-gustavguez-button>
			</div>
			
			<div class="col-md-6 col-sm-6 col-12 text-center p-3">
				<ngx-gustavguez-button
					(onClick)="onClick()"
					[status]="'danger'"
					[text]="'Danger button'"></ngx-gustavguez-button>
			</div>
			<div class="col-md-6 col-sm-6 col-12 text-center p-3">
				<ngx-gustavguez-button
					(onClick)="onClick()"
					[status]="'danger'"
					[loading]="true"
					[text]="'Danger button'"></ngx-gustavguez-button>
			</div>
			
			<div class="col-md-6 col-sm-6 col-12 text-center p-3">
				<ngx-gustavguez-button
					(onClick)="onClick()"
					[status]="'warning'"
					[text]="'Warning button'"></ngx-gustavguez-button>
			</div>
			<div class="col-md-6 col-sm-6 col-12 text-center p-3">
				<ngx-gustavguez-button
					(onClick)="onClick()"
					[status]="'warning'"
					[loading]="true"
					[text]="'Warning button'"></ngx-gustavguez-button>
			</div>
			
			<div class="col-md-6 col-sm-6 col-12 text-center p-3">
				<ngx-gustavguez-button
					(onClick)="onClick()"
					[status]="'info'"
					[text]="'Info button'"></ngx-gustavguez-button>
			</div>
			<div class="col-md-6 col-sm-6 col-12 text-center p-3">
				<ngx-gustavguez-button
					(onClick)="onClick()"
					[status]="'info'"
					[loading]="true"
					[text]="'Info button'"></ngx-gustavguez-button>
			</div>
			
			<div class="col-md-6 col-sm-6 col-12 text-center p-3">
				<ngx-gustavguez-button
					(onClick)="onClick()"
					[status]="'light'"
					[text]="'Light button'"></ngx-gustavguez-button>
			</div>
			<div class="col-md-6 col-sm-6 col-12 text-center p-3">
				<ngx-gustavguez-button
					(onClick)="onClick()"
					[status]="'light'"
					[loading]="true"
					[text]="'Light button'"></ngx-gustavguez-button>
			</div>
			
			<div class="col-md-6 col-sm-6 col-12 text-center p-3">
				<ngx-gustavguez-button
					(onClick)="onClick()"
					[status]="'dark'"
					[text]="'Dark button'"></ngx-gustavguez-button>
			</div>
			<div class="col-md-6 col-sm-6 col-12 text-center p-3">
				<ngx-gustavguez-button
					(onClick)="onClick()"
					[status]="'dark'"
					[loading]="true"
					[text]="'Dark button'"></ngx-gustavguez-button>
			</div>
			
		</div>
	</div>
</section>