<ngx-gustavguez-page-header text="Popup"></ngx-gustavguez-page-header>

<section class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 col-sm-6 col-12 p-3">
				<ngx-gustavguez-button
					(onClick)="onOpenPopup()"
					[text]="'Open popup'"></ngx-gustavguez-button>
			</div>
		</div>
	</div>
</section>

<!-- POPUP -->
<ngx-gustavguez-popup
	[titleText]="'Popup title'"
	[closeText]="'Close'"
	[state]="popupState"
	(onClose)="onClosePopup()">
	<p>Popup content</p>
</ngx-gustavguez-popup>