<ngx-gustavguez-page-header text="Page header"></ngx-gustavguez-page-header>

<section class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 col-sm-6 col-12">
				<ngx-gustavguez-page-header 
					text="This is a header"></ngx-gustavguez-page-header>
			</div>
			<div class="col-md-6 col-sm-6 col-12">
				<ngx-gustavguez-page-header 
					text="This is another header">
					<button class="btn">+</button>
				</ngx-gustavguez-page-header>
			</div>
		</div>
	</div>
</section>