<ngx-gustavguez-page-header text="Card"></ngx-gustavguez-page-header>

<section class="content">
	<div class="container-fluid">
		<div class="row">

			<div class="col-md-6 col-sm-6 col-12 p-3">
				<ngx-gustavguez-info-box 
					[status]="'danger'"
					[text]="'Total movimientos'"
					[number]="'$ ' + (0 | prettyNumber)"
					[icon]="'fas fa-dollar-sign'"></ngx-gustavguez-info-box>
			</div>

			<div class="col-md-6 col-sm-6 col-12 p-3">
				<ngx-gustavguez-info-box 
					[status]="'info'"
					[text]="'Total movimientos'"
					[number]="'$ 5.450'"
					[icon]="'fas fa-dollar-sign'"></ngx-gustavguez-info-box>
			</div>

			<div class="col-md-6 col-sm-6 col-12 p-3">
				<ngx-gustavguez-info-box 
					[status]="'success'"
					[text]="'Total movimientos'"
					[number]="'$ 5.450'"
					[icon]="'fas fa-dollar-sign'"></ngx-gustavguez-info-box>
			</div>

			<div class="col-md-6 col-sm-6 col-12 p-3">
				<ngx-gustavguez-info-box 
					[status]="'warning'"
					[text]="'Total movimientos'"
					[number]="'$ 5.450'"
					[icon]="'fas fa-dollar-sign'"></ngx-gustavguez-info-box>
			</div>

			<div class="col-md-6 col-sm-6 col-12 p-3">
				<ngx-gustavguez-info-box 
					[status]="'primary'"
					[text]="'Total movimientos'"
					[number]="'$ 5.450'"
					[icon]="'fas fa-dollar-sign'"></ngx-gustavguez-info-box>
			</div>

			<div class="col-md-6 col-sm-6 col-12 p-3">
				<ngx-gustavguez-info-box 
					[status]="'secondary'"
					[text]="'Total movimientos'"
					[number]="'$ 5.450'"
					[icon]="'fas fa-dollar-sign'"></ngx-gustavguez-info-box>
			</div>

			<div class="col-md-6 col-sm-6 col-12 p-3">
				<ngx-gustavguez-info-box 
					[status]="'light'"
					[text]="'Total movimientos'"
					[number]="'$ 5.450'"
					[icon]="'fas fa-dollar-sign'"></ngx-gustavguez-info-box>
			</div>

			<div class="col-md-6 col-sm-6 col-12 p-3">
				<ngx-gustavguez-info-box 
					[status]="'dark'"
					[text]="'Total movimientos'"
					[number]="'$ 5.450'"
					[icon]="'fas fa-dollar-sign'"></ngx-gustavguez-info-box>
			</div>
		</div>
	</div>
</section>