<ngx-gustavguez-page-header text="Toasts"></ngx-gustavguez-page-header>

<section class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 col-sm-6 col-12 p-3">
				<ngx-gustavguez-button
					(onClick)="openSuccessToast()"
					[status]="'success'"
					[text]="'Open success toast'"></ngx-gustavguez-button>
			</div>

			<div class="col-md-6 col-sm-6 col-12 p-3">
				<ngx-gustavguez-button
					(onClick)="openErrorToast()"
					[status]="'danger'"
					[text]="'Open error toast'"></ngx-gustavguez-button>
			</div>
		</div>
	</div>
</section>

<!-- POPUP -->
<ngx-gustavguez-toasts 
    [brandTitle]="'Gustavguez lib'"></ngx-gustavguez-toasts>